.use-motion {
  .post { opacity: 0; }
}

.page-archive {

  .archive-page-counter {
    position: relative;
    top: 3px;
    left: 20px;
    font-family: ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    opacity: .9;
	
	
    +mobile() {
      top: 5px;
    }
  }

  .posts-collapse {
	  @media (max-width: 1399px) {
		.post-title{
			font-size: 15px !important;
			margin-left: 80px;
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}
    .archive-move-on {
      position: absolute;
      top: 11px;
      left: 0;
	  display: none;
      margin-left: -6px;
      width: 10px;
      height: 10px;
      opacity: 0.5;
      background: $black-light;
      border: 1px solid white;

      circle();
    }
	.post-title a:hover {
		color: #42b983;
	}
  }
  .archive-year {
	 font-size: 19px;
	 color: #42b983;
	 text-decoration: none;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin-bottom: 1em;
     line-height: 1em;
     font-weight: bold;
  }
  .archive-year:before{
	 font-family: "FontAwesome";
     content: "\f273";
     margin-right: 0.2em;
  }
}
.posts-collapse .post-title a {
	margin-left: 20px;
    font-size: 15px;
}
.posts-collapse .post-meta {
	margin-top: -5px;
	font-size: 15px;
}