table {
  margin: 20px 0;
  width: $table-width;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $table-border-color;
  font-size: 13px;
  table-layout: automatic;
  word-wrap: break-all;
}
@media screen and (min-width:1400px) {
	table{
		font-size:16px;
	}
}
table>tbody>tr {
  &:nth-of-type(odd) { background-color: #fbfbfb; }
}

caption, th, td {
  padding: $table-cell-padding;
  text-align: $table-content-alignment;
  vertical-align: $table-content-vertical;
  font-weight: normal;
}

th, td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

th {
  padding-bottom: 10px;
  font-weight: $table-th-font-weight;
}

td { border-bottom-width: 1px; }
