.tag-cloud {
  width: 900px;
}
.tag-cloud-title {
  text-align: left;
  position: relative;
  top: 3px;
  margin-bottom: 10px;
  left: 20px;
  font-family: ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
}
.tag-cloud a {
    display: inline-block;
    margin-top: 10px;
	letter-spacing: .4px;
    opacity: .7;
	position: relative;
    width: 135px;
    margin-left: 40px;
    font-weight: 500;
    font-family: ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    border-bottom: none !important;
}
@media screen and (max-width:1399px) {
	.tag-cloud a {
		font-size: 15px !important;
	}
}
.tag-cloud a:before {
	font-family: "FontAwesome";
    content: "\f02e";
    margin-right: 0.4em;
	color: #42b983;
	
}
tag-cloud-tags {
	margin-top: 10px;
	display: block;
	color: red !important;
	padding: 0 20px !important;
}