// TODO: Refactor.

@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;

    .post-title, .post-meta {
      display: block;
      width: auto;
      text-align: left;
    }
  }
}

.posts-collapse {
  position: relative;
  z-index: $zindex-1;
  margin-left: -20px !important;
  &::after {
    content: " ";
    position: absolute;
    top: 6.5rem;
    display: none;
    left: 4.6%;
    margin-left: -2px;
    width: 4px;
    height: 4rem;
    background: $whitesmoke;
    z-index: $zindex-bottom;
  }

  margin-left: $posts-collapse-left;
  +mobile() { margin: 0 20px; }

  .collection-title, .collection-tag-title {
    position: relative;
    margin: 25px 0;
	font-size: 20px;
    color: #42b983;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
    line-height: 1em;
    font-weight: bold;
	

    h1, h2 { margin-left: 20px; }

    small { color: #666; margin-left: 5px; }

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 50%;
	  display: none;
      margin-left: -4px;
      margin-top: -4px;
      width: 8px;
      height: 8px;
      background: $grey;
      circle();
    }
  }

  .post { 
	margin: 0px 0; 
	h2{
		margin: 10px 60px 10px;
		font-size: 15px;
	}
  }

  .post-header {
    position: relative;
    the-transition();
    transition-property: border;
	margin-left: -2px;
    &::before {
      content: " ";
      position: absolute;
      z-index: 10;
      left: 1px;
      top: 10px;
      width: 6px;
      height: 6px;
      margin-left: -4px;
      background: $grey;
      circle();
      border: 1px solid white;
      the-transition();
      transition-property: background;
    }
  }

  .post-header:hover {
    /*border-bottom-color: $grey-dim;*/
	
    &::before { background: #FF9966; }
  }

  .post-meta {
    position: absolute;
    font-size: 16px;
    left: 20px;
    top: 5px;
  }

  .post-comments-count { display: none; }

  .post-title {
    margin-left: 60px;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;

    &::after {
      margin-left: 3px;
      opacity: 0.6;
    }

    a {
      color: $grey-dim;
      border-bottom: none;
    }
  }
}
.posts-collapse .collection-tag-title h1 {
	position: relative;
	font-size: 18px;
}
.posts-collapse .collection-tag-title h1:before{ 
	font-family: "FontAwesome";
    content: "\f02b";
    margin-right: 0.2em;
}
.posts-collapse .post-title a:hover {
	color: #42b983;
}
.post-header-div {
  margin-left: 4%;
  border-left: 2px solid $whitesmoke;
}