.post-button {
  margin-top: 50px;

  .btn {
    color: #42b983;
    font-size: 13px;
    background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
